// App colors
$primary-color: #ee1e82;
$primary-hover: #cc186e;
$secondary-color: purple;
$secondary-color: #6e2a98;

// Text colors
$text-primary: #4a4a4a;
$text-medium: #a8a8a8;

// Message colors
$success: #48bb78;
$error: #e53e3e;
$warning: #faf089;

// Nav color
$grey-100: #fafafa;
$grey-200: #f6f6f6;
$grey-250: #ededed;
$grey-300: #e0e0e0;
$grey-350: #d3d3d3;
$grey-400: #a8a8a8;
$grey-500: #666666;

// Media sizes
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
