@import "app/styles/variables.scss";
@import "app/styles/mixins.scss";

.payments-modal {
    p {
        font-weight: 400;
    }

    &__list {
        text-align: left;
        margin-top: 2rem;
    }

    &__list-item {
        padding-bottom: 0.85rem;
        padding-left: 1.35rem;

        &::marker {
            content: "✔";
            color: $success;
            position: relative;
            font-size: inherit;
        }

        &:last-of-type {
            padding-bottom: 0;
        }
    }
}

.race-import-modal {
    &__input {
        margin-top: 2rem;
    }

    &__error {
        position: absolute;
        @include transition-3;

        &.no-error {
            margin-bottom: 0;
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            opacity: 0;
            overflow: hidden;
            visibility: hidden;
            @include transition-3;
        }

        &.erroring {
            position: static;
            visibility: visible;
            opacity: 1;
            height: auto;
            margin-bottom: 2rem;
            @include transition-3;
        }
    }
}

.race-details-modal {
    &__top {
        margin-bottom: 2.75rem;
    }

    ul {
        padding-left: 0;

        li {
            list-style-type: none;
            padding-bottom: 1.25rem;

            &:last-of-type {
                padding-bottom: 0;
            }

            span {
                font-weight: 600;
            }
        }
    }

    &__details {
        margin-bottom: 3.25rem;
    }

    &__events {
        p {
            font-weight: 600;
            margin-bottom: 2rem;
        }
    }

    &__events-wrap {
        padding: 3rem 0 2rem;
        border-bottom: 1px solid $grey-300;

        &:last-of-type {
            border-bottom: 0;
            padding-bottom: 0;
        }

        &:first-of-type {
            padding-top: 0;
        }
    }

    &__events-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__events-list-item {
        width: 50%;

        &:first-of-type {
            width: 100%;
        }
    }
}
