.google-auth {
   box-shadow: none !important;
   outline: none !important;
   font-size: 15px !important;
   height: 38px !important;
   border: 1px solid #d9d9d9 !important;
   border-radius: 5px !important;
   width: 100% !important;
   text-align: center !important;
   justify-content: center !important;

   div {
      background: transparent !important;
   }

   button {
      width: 100% !important;
   }
}
